# Flags for all files
CompileFlags:
  Add: [-pedantic, -std=c89, -Wall, -Wextra]
  Remove: [-Wempty-translation-unit]

---
# Flags for .h files
If:
  PathMatch: .*\.h

CompileFlags:
  Add: [-xc-header]

---
# Flags for .c files
If:
  PathMatch: .*\.c

CompileFlags:
  Add: [-xc]
